/*--------------------------------------
  display
--------------------------------------*/
html{
    height: 100%;
}
body{
    min-height: 100%;
}
main {
    font-family: 'M PLUS 2', 'メイリオ', sans-serif;
}