{% load django_bootstrap5 %}
{% load static %}


<!doctype HTML>
<html>
<head>
  <meta charset="utf-8" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+2&display=swap" rel="stylesheet">
  {% bootstrap_css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/_base.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/top.css' %}">

  {% bootstrap_js %}
  <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>

  {% block title %}
  <title>ゲームプログラミングサークル KFIP</title>
  {% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WS4QQX6KG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7WS4QQX6KG');
  </script>

  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body>
  <main>
    <div class="container">
      {% block main %}
      <p>コンテンツがありません</p>
      {% endblock %}
    </div>
  </main>

  <footer class="bg-dark text-light" style="text-align: center; padding:1rem 0 2rem 0;">
    <p>Copyright 2021-{% now 'Y' %} KFIP</p>
  </footer>

  {% block extrajs %}
  {% endblock %}
</body>
</html>